.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #dfefcd;
  background-image: url('../assets/loginImg-2.png'); /* Specify the background image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center;

  .container {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    padding: 50px;

    .progress-bar {
      display: flex;
      justify-content: space-between; /* Space out steps evenly */
      width: 100%;
      margin-bottom: 20px;
    }

    .progress-step {
      text-align: center;
      padding: 10px 20px; /* Adjust padding as needed */
      border-radius: 50px; /* Create circular steps */
      background-color: #ddd;
      color: #333;
      cursor: default;
    }
  }
}
