@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@font-face {
  font-family: 'Baloo';
  src: url('./assets/font/Baloo-Regular-webfont.woff');
}

@layer base {
  html {
    font-family: "Open Sans", sans-serif; /* set default font as Open Sans */
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
